<log4net>
  <root>
    <level value="ALL" />
    <appender-ref ref="AllLog" />
  </root>
  <logger name="Service.Services" additivity="false">
    <level value="ALL" />
    <appender-ref ref="ServiceLog" />
  </logger>
  <logger name="Microsoft.EntityFrameworkCore" additivity="false">
    <level value="ALL" />
    <appender-ref ref="SQLLog" />
  </logger>

  <appender name="ServiceLog" type="log4net.Appender.RollingFileAppender">
    <file value="Log4Net\.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="15MB" />
    <staticLogFileName value="false" />
    <datePattern value="dd-MM-yyyy'-Service'"/>
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>

  <appender name="SQLLog" type="log4net.Appender.RollingFileAppender">
    <file value="Log4Net\.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="15MB" />
    <staticLogFileName value="false" />
    <datePattern value="dd-MM-yyyy'-SQL'"/>
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>
  
  <appender name="AllLog" type="log4net.Appender.RollingFileAppender">
    <file value="Log4Net\.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="15MB" />
    <staticLogFileName value="false" />
    <datePattern value="dd-MM-yyyy'-All'"/>
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{dd-MM-yyyy HH:mm:ss} %-5level [%3thread] %message%newline" />
    </layout>
  </appender>
  
</log4net>