@page "{id:int?}"
@model MiniRedit.Pages.Boards.EditBoardsModel
<div class="container">
    <div class="col-lg-12">
        <h1>Message Details</h1>
    </div>
    <br />
    <div class="col-lg-12">
        <form method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p class="textstyle">Board Title: </p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="@Model.Boards.Title" asp-for="Title" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p class="textstyle">Board Creation Date: </p>
                            <div class="input-group">
                                <label>@Model.Boards.Date</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p class="textstyle">Board Id: </p>
                            <div class="input-group">
                                <label>@Model.Boards.BoardId</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <button type="submit" class="btn btn-info toggleLoader">Update Board</button>
                        <br />
                    </div>
                </div>
            </div>
        </form>

        <br />
        <a asp-page="ViewAllBoards" class="btn btn-primary toggleLoader">Back To Home</a>
    </div>
</div>