.overlayContainer {
    display: block
}

.overlayBackground {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: .3
}

.overlayContent {
    position: fixed;
    left: 50%;
    top: 40%;
    left: 50%;
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    font-weight: bold;
    z-index: 1000;
    text-align: center
}

.danfoss-loading {
    height: 32%;
    width: 32%
}
