.textstyle
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:slategray;
}

.privecytext {
    font-family: Impact;
    color:darkred;
}