@page
@model MiniRedit.Pages.Users.CreateUserModel
<div class="container">
    <div class="col-lg-12">
        <h1>Create User</h1>
        <div class=" text-right">
            @if (Model.User.UserName != null)
            {
                <p class="textstyle">Du er loget ind som</p>
                @Model.User.UserName
            }
        </div>
    </div>
    <br />
    <div class="col-lg-12">
        <form method="post">
            <div class="row" asp-validation-summary="All">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p class="textstyle">Full Name: </p>
                            <div class="input-group">
                                <input type="password" class="form-control" asp-for="@Model.User.Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p class="textstyle">User Name: </p>
                            <div class="input-group">
                                <input type="text" class="form-control" asp-for="@Model.User.UserName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="form-group">
                            <p class="textstyle">Password: </p>
                            <div class="input-group">
                                <input type="password" class="form-control" asp-for="@Model.User.Password" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <button type="submit" class="btn btn-info">Create User</button>
                        <br />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
